<!-- RESPONSIVE NAV BAR -->
<nav class="navbar navbar-default navbar-fixed-top navbar-landing">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img alt="Brand" src="/images/intro-logo.png" class="logo"></a>
    </div>

    <!-- Nav links for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right text-center">
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/signup"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log In</a></li>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <div class="faq-header col-md-6 col-md-offset-3">
    <h1>FAQ</h1>
    <p>There are no stupid questions, just inquisitive idiots.</p>
    <br>
  </div>
  <div class="faq-questions col-md-6 col-md-offset-3">
    <h4>I've signed up. What now?</h4>
    <p>Hang tight! We'll send you an email each fortnight introducing you to someone new.</p>
  </div>
  <div class="faq-questions col-md-6 col-md-offset-3">
    <h4>Thanks for the email. What now?</h4>
    <p>That's entirely up to you! We're not your mum but once you're done stalking their LinkedIn profile, we suggest sending them an email (or replying to theirs if you were too slow).</p>
  </div>
  <div class="faq-questions col-md-6 col-md-offset-3">
    <h4>How are introductions generated?</h4>
    <p>We've written a super fancy algorithm that helps us generate meaningful introductions for you. It takes into account your industry preferences, as well as your introductions' industry preferences, to ensure interests are aligned. That said, we also manually screen all introductions before they are sent out.
    </p>
  </div>
  <div class="faq-questions col-md-6 col-md-offset-3">
    <h4>Can I choose who I'm introduced to?</h4>
    <p>Sure, just click <a href="http://www.linkedin.com/">here</a> for the boring stuff.</p>
  </div>
  <div class="faq-questions col-md-6 col-md-offset-3">
    <h4>Will I be introduced to a real human being?</h4>
    <p>We'd love to be able to introduce you to <a href="http://bfy.tw/2fkv">aliens</a>, but we're sticking with humans just for now.</p>
  </div>
  <div class="faq-questions col-md-6 col-md-offset-3">
    <h4>What if the introduction wasn't the right fit?</h4>
    <p>That's a possibility, but just know there's another introduction coming! Think of Intro as a playground - there will be people you don't get along with but there's also a chance you get introduced to someone that changes your life from a social, career or business perspective. That's the reason we're here, and that's what counts.</p>
  </div>
</div>
