body {
  padding-top: 50px;
}

.home-steps-image {
  min-height: 100px;
  width: 100px;
}

.logo {
  height: 55px;
  position: fixed;
  top: 0px;
}

.jumbotron {
  height: 550px;
}

.btn:focus {
  outline: 0;
}

.navbar {
  background-color: white;
}
