body {
 padding-top: 50px;
 padding-bottom: 20px;
 color: #5a5a5a;
 font-family: 'Raleway', sans-serif;
}

.navbar {
  background-color: white;
}

.navbar-btn {
  color: #5a5a5a;
}

.logo {
  height: 55px;
  position: fixed;
  top: 0px;
}

.page-header {
  border: none;
}

.landing-page {
  height: 680px;
  width: 100%;
  background-image: url(../images/background.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
  padding-top: 90px;
  background-color: white;
}

.glyphicon-menu-down {
  font-size: 25px;
}

.marketing-image {
  border: 1px solid #5a5a5a;
  padding: 12px;
}

.profile-picture {
  margin-bottom: 5%;
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}

#panel {
  padding: 0;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing {
  padding-top: 100px;
  padding-bottom: 75px;
}
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
